# Eficiencia de paneles fotovoltaicos

Hemos realizado un análisis del recurso energético disponible y determinado el ángulo de inclinación necesario para optimizar la irradiación captada por un set de paneles solares. Procedemos ahora a realizar un análisis de la eficiencia de producción de energía eléctrica de un modelo de paneles fotovoltaicos específico con la intención de calcular con mayor fidelidad la curva de generación de energía final.

In [1]:
import matplotlib.pyplot as plt
import numpy as np

In [2]:
# Crear dataframe con los sets de datos de NREL
import utils.nrel_system.parse_nrel as parse_nrel

merida = [
    "data/mx-merida/2018.csv",
    "data/mx-merida/2019.csv",
    "data/mx-merida/2020.csv"
]

nrel, L = parse_nrel.main(merida)

In [3]:
# Calcular (e inyectar) variables de temporales, de geometría solar y valores de irradiancia por componentes difusa y directa
import utils.physical_system.setup_variables as setup_variables
nrel = setup_variables.main(nrel,L)

In [4]:
nrel

,YEAR,MONTH,DAY,HOUR,MINUTE,MINS_SINCE_EQUINOX,TEMPERATURE,DNI,DHI,GHI,GI,X_DIF,X_DIR,Z,D,H,A,ALPHA
0,2018,1,1,0,0,15840.0,23.3,0,0,0,0.0,0.0,0.0,177.92,-23.06,0.0,0.0,0.0
1,2018,1,1,0,5,15845.0,23.2,0,0,0,0.0,0.0,0.0,177.83,-23.06,0.0,0.0,0.0
2,2018,1,1,0,10,15850.0,23.2,0,0,0,0.0,0.0,0.0,177.21,-23.06,0.0,0.0,0.0
3,2018,1,1,0,15,15855.0,23.2,0,0,0,0.0,0.0,0.0,176.33,-23.06,0.0,0.0,0.0
4,2018,1,1,0,20,15860.0,23.2,0,0,0,0.0,0.0,0.0,175.32,-23.05,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
315355,2020,12,31,23,35,15815.0,22.7,0,0,0,0.0,0.0,0.0,173.50,-23.06,0.0,0.0,0.0
315356,2020,12,31,23,40,15820.0,22.7,0,0,0,0.0,0.0,0.0,174.59,-23.06,0.0,0.0,0.0
315357,2020,12,31,23,45,15825.0,22.7,0,0,0,0.0,0.0,0.0,175.63,-23.06,0.0,0.0,0.0
315358,2020,12,31,23,50,15830.0,22.6,0,0,0,0.0,0.0,0.0,176.61,-23.06,0.0,0.0,0.0
315359,2020,12,31,23,55,15835.0,22.6,0,0,0,0.0,0.0,0.0,177.42,-23.06,0.0,0.0,0.0